.main {
    flex: 1;
    width: 100%;
    /* width: 1420px; */
    height: 1080px;
}

.header {
    flex: 0.1;
    border-bottom: thick double black;
    background-color: #fff;
}

.body {
    flex: 0.9;
}

.option-container {
    flex: 0.33
}

.intro-container {
    flex: 0.5
}

    .intro-text-container {
        flex: 0.33;
        background-color: green;
    }

        .animated-intro-text-container {
            width: 300px;
            height: 300px;
            position: relative;
            background: yellow;
            animation: leftToRight 3s ease-in;
            animation-fill-mode: forwards;
        }

    .intro-image-container {
        flex: 0.33;
    }

    .intro-links-container {
        flex: 0.33;
    }

.rest-container {
    flex: 0.5
}

/* Text Styles */
.option {
    font-size: 2.5em;
}

.option::selection {
    color: blue
}

.intro-text {
    font-size: 1em;
    animation: noColorToColor 3s ease-in; 
    animation-fill-mode: forwards;         
}

/* Animations */

@keyframes noColorToColor {
    from {color: #fff}
    to {color: black}
}

@keyframes leftToRight {
    from {left: 0px; top: 0px;}
    to {left: 30px; top: 0px}
}

/* other pseudos include ::first-line and ::first-letter */